## 입출력과 자료형

In [9]:
a = 1
b = 2
print(a, id(a))

1 4301285680

In [10]:
a, b = b, a
print(a, b)

2 1

In [11]:
strDate = input("날짜 입력 형싱 yyyy.mm.dd >> ")
y, m, d = strDate.split('.')
print(strDate, y, m, d)

2024.05.27 2024 05 27

In [12]:
a, b, c = map(int, input().split(" "))
print(a, b, c)

2 3 10

In [13]:
nums = input()
print(nums, type(nums))

splited_nums = nums.split()
print(splited_nums, type(splited_nums))

splited_int_nums = map(int, nums.split())
print( splited_int_nums, type(splited_int_nums))

20 30 40 <class 'str'>
['20', '30', '40'] <class 'list'>
<map object at 0x103f6c670> <class 'map'>

### List

In [16]:
a = [1, 2, 3]
b = a
a[0] = 9

print(a, b)

[9, 2, 3] [9, 2, 3]

In [17]:
lst1 = []
lst1 = [0]*3
lst1

[0, 0, 0]

In [18]:
lst1 = [1, 2, 3, 4, 5]
lst1[::-1]

[5, 4, 3, 2, 1]

In [ ]:
lstColor = ["red", "orange", "green"]
lstFruit = ["orange", "mango", "apple"]

print("--- 리스트 더하기 ---")
print(lstColor + lstFruit)

print("--- 리스트 곱하기 ---")
print(lstColor * 2)

print("--- 리스트 길이 구하기 ---")
print(len(lstColor))

#### List 연산

삭제는 `del 연산자`나 `.pop(위치값)` 사용

In [19]:
# .append() -> 뒤에 하나의 원소를 추가
a = [10, 20, 30]
b = [40, 50]
a.append(b)
print(a)

# .extend() -> 뒤에 낱개로 추가
a = [10, 20, 30]
b = [40, 50]
a.extend(b)
print(a)
a.extend("고양이")
print(a)

[10, 20, 30, [40, 50]]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, '고', '양', '이']

In [23]:
x = [42, 3, 68, 1, 27]
x.sort() # 오름차순 정렬
print(x)
x.sort(reverse=True) # 내림차순 정렬
print(x)

[1, 3, 27, 42, 68]
[68, 42, 27, 3, 1]

In [25]:
lst7 = [30, 40, 12, 1, 5, 123]
print(lst7[::-1]) # 슬라이싱 ( 역순 )

lst7.reverse()
print(lst7)

[123, 5, 1, 12, 40, 30]
[123, 5, 1, 12, 40, 30]

### Dictionary

In [27]:
myInfo = {"name":"홍길동", "likeNum":2, "height":172.8}

print(myInfo, type(myInfo))
myInfo["name"]

myInfo["name"] = "김길동"
print(myInfo)

# 추가 및 수정 : 키값이 있을 때는 수정, 없을 때는 추가
myInfo["hobby"] = "독서"
print(myInfo)

# 삭제
del myInfo["height"]
print(myInfo)

myInfo["height"] = 170
print(myInfo)
print(myInfo.pop("height"))
print(myInfo.popitem())


# myInfo["names"] # 없는 키값으로 접근할때는 keyError

print("keys = ", myInfo.keys())
print("values = ", myInfo.values())
print("items = ", myInfo.items())

# 리스트타입 변환
lstKeys = list(myInfo.keys())
print("key list = ", lstKeys)

{'name': '홍길동', 'likeNum': 2, 'height': 172.8} <class 'dict'>
{'name': '김길동', 'likeNum': 2, 'height': 172.8}
{'name': '김길동', 'likeNum': 2, 'height': 172.8, 'hobby': '독서'}
{'name': '김길동', 'likeNum': 2, 'hobby': '독서'}
{'name': '김길동', 'likeNum': 2, 'hobby': '독서', 'height': 170}
170
('hobby', '독서')
keys =  dict_keys(['name', 'likeNum'])
values =  dict_values(['김길동', 2])
items =  dict_items([('name', '김길동'), ('likeNum', 2)])
key list =  ['name', 'likeNum']

In [28]:
# 직접 접근과 다르게 없어도 에러가 발생하지 않으
# 기본 값을 지정하지 않으면 찾지 못하는 경우 None을 반환
user_info = {'name': 'hyejung'}
print(user_info.get('name'))
print(user_info.get('age', '발견하지 못함')) # 발견하지 못함

hyejung
발견하지 못함

### Set

- 순서가 없어서 인덱스 X
- 자료 중복 허용 X

In [29]:
lst1 = [3,3,4,5,6]
print(lst1)

print(set(lst1))
print(list(set(lst1)))

[3, 3, 4, 5, 6]
{3, 4, 5, 6}
[3, 4, 5, 6]

In [30]:
# 집합 연산
st1 = {1,3,5,7,8,9}
st2 = {2,3,6,8}

print("교집합")
print(st1 & st2)

print("합집합")
print(st1 | st2)

print("차집합")
print(st1 - st2)

print("대칭차집합: 합집합-교집합")
print(st1 ^ st2, end="\n\n") # \n 줄바꿈(enter)

print("union(합집합) = ", st1.union(st2)) #합집합
print("intersection(교집합) = ", st1.intersection(st2)) #교집합
print("difference(차집합) = ", st1.difference(st2)) #차집합
print("symmetric_difference(대칭차집합) = ", st1.symmetric_difference(st2)) #대칭차집합

교집합
{8, 3}
합집합
{1, 2, 3, 5, 6, 7, 8, 9}
차집합
{1, 5, 9, 7}
대칭차집합: 합집합-교집합
{1, 2, 5, 6, 7, 9}

union(합집합) =  {1, 2, 3, 5, 6, 7, 8, 9}
intersection(교집합) =  {8, 3}
difference(차집합) =  {1, 5, 9, 7}
symmetric_difference(대칭차집합) =  {1, 2, 5, 6, 7, 9}

In [32]:
cities = {'Seoul', 'New York'}
cities.add('Tokyo')
print(cities) # {'Seoul', 'New York', 'Tokyo'}

# 리스트 등과 같은 unhashable type은 추가할 수 없습니다.
# cities.add([1]) # TypeError: unhashable type: 'list'

{'New York', 'Seoul', 'Tokyo'}

In [33]:
cities = {'Seoul', 'New York'}
cities.remove('Seoul') # 없는 경우 KeyError 발생
cities.discard('Paris') # 없어도 에러가 발생하지 않음
print(cities) # {'New York'}

{'New York'}

In [34]:
cities = {'Seoul', 'New York'}
cities.remove('Seoul') # 없는 경우 KeyError 발생
cities.discard('Paris') # 없어도 에러가 발생하지 않음
print(cities) # {'New York'}

{'New York'}

In [35]:
# 순서는 보장하지 않음
cities = {'Seoul', 'New York'}
cities.update(['Paris', 'London'])
print(cities) # {'London', 'Paris', 'Seoul', 'New York'}

{'New York', 'Seoul', 'London', 'Paris'}

### Tuple

In [38]:
# 리스트와 동일하나 수정 안됨.(수정 메서드도 안됨)
t1 = (1,2,3)
t2 = 1,2,3
t3 = (10) # 괄호로 선언했으나 1개일 경우 int로 저장
t4 = (10,)# 1개 추가 시, 끝에 콤마(,) 표시

print(t1, type(t1))
print(t2, type(t2))
print(t3, type(t3))
print(t4, type(t4))

t1[0] = 2 #튜플은 읽기전용, 수정x

(1, 2, 3) <class 'tuple'>
(1, 2, 3) <class 'tuple'>
10 <class 'int'>
(10,) <class 'tuple'>

TypeError: 'tuple' object does not support item assignment

### 집합 자료형 method

#### enumerate()

In [39]:
# enumerate()

# 리스트변수명 = [요소1, 요소2....]
# 리스트 읽어서 인덱스와 값을 튜플형태로 가지고 온다.

a=[45,12,50,4,1,17]

for i in enumerate(a):
    print(i, type(i))

for i in enumerate(a):
    print(i[0],i[1], type(i[0]))
    
for index, value in enumerate(a):
    print(index, value, type(index))


for i in enumerate(a):
    print(i[0],i[1], type(i[0]))
    
for index, value in enumerate(a):
    print(index, value, type(index))

(0, 45) <class 'tuple'>
(1, 12) <class 'tuple'>
(2, 50) <class 'tuple'>
(3, 4) <class 'tuple'>
(4, 1) <class 'tuple'>
(5, 17) <class 'tuple'>
0 45 <class 'int'>
1 12 <class 'int'>
2 50 <class 'int'>
3 4 <class 'int'>
4 1 <class 'int'>
5 17 <class 'int'>
0 45 <class 'int'>
1 12 <class 'int'>
2 50 <class 'int'>
3 4 <class 'int'>
4 1 <class 'int'>
5 17 <class 'int'>
0 45 <class 'int'>
1 12 <class 'int'>
2 50 <class 'int'>
3 4 <class 'int'>
4 1 <class 'int'>
5 17 <class 'int'>
0 45 <class 'int'>
1 12 <class 'int'>
2 50 <class 'int'>
3 4 <class 'int'>
4 1 <class 'int'>
5 17 <class 'int'>

#### range(start, end, step)

In [40]:
for i in range(4): # 지정하지 않는 경우 0부터 시작
    print(i, end=' ')  
print()

# 0 1 2 3

for j in range(7, 1, -1):  # -를 통해 역순으로 뽑을 수 있음
    print(j, end=' ')
print()

# 7 6 5 4 3 2

for k in range(1, 7, 2):  # 2칸씩 띄고 가능
    print(k, end=' ')
    
# 리스트화
print(list(range(3, 7))) # [3, 4, 5, 6]

0 1 2 3
7 6 5 4 3 2
1 3 5 [3, 4, 5, 6]

#### zip()

In [43]:

for item in zip([1,2,3],['sugar','spice','nice']):
    print(item, type(item))

x = ['a','b','c']
y = ['i','j','k','l']
z = '12345'

k = zip(x,y,z)
print(type(k))
print(k)
print(list(zip(x, y, z)), type(list(zip(x, y, z))))
print(tuple(zip(z,y)), type(tuple(zip(z,y))))


for t in zip(x, y, z):
    print(t)
    
    
number = [1, 2, 3, 4, 5]
name = ['kim', 'lee','park','hong','yun']
grade = [4.3, 2.8, 4.0, 3.1, 3.45]
for result in zip(number, name, grade):
    print(result)
    
# 시퀀스형 언패킹 연산자 *: unzip
k = [('a',1), ('b',2),('c',3)]
x, y = zip(*k)
print(k, type(k))
print(x, type(x))
print(y, type(y))

(1, 'sugar') <class 'tuple'>
(2, 'spice') <class 'tuple'>
(3, 'nice') <class 'tuple'>
<class 'zip'>
<zip object at 0x10481ce00>
[('a', 'i', '1'), ('b', 'j', '2'), ('c', 'k', '3')] <class 'list'>
(('1', 'i'), ('2', 'j'), ('3', 'k'), ('4', 'l')) <class 'tuple'>
('a', 'i', '1')
('b', 'j', '2')
('c', 'k', '3')
(1, 'kim', 4.3)
(2, 'lee', 2.8)
(3, 'park', 4.0)
(4, 'hong', 3.1)
(5, 'yun', 3.45)
[('a', 1), ('b', 2), ('c', 3)] <class 'list'>
('a', 'b', 'c') <class 'tuple'>
(1, 2, 3) <class 'tuple'>

In [45]:
# 세로로 잡은 결과 --> 튜플로 zip 객체 생성 => 리스트로 변경
a = [1, 2, 3]
b = [4, 5, 6]
print(list(zip(a, b))) # [(1, 4), (2, 5), (3, 6)]

# 더 여러개도 잡아서 
a = [1, 2, 3]
b = [4, 5, 6]
c = [7, 8, 9]
print(list(zip(a, b, c))) # [(1, 4, 7), (2, 5, 8), (3, 6, 9)]

# 길이가 다르다면 최소값에 맞춰서
a = [1, 2, 3, 4]
b = [5, 6]
c = [7, 8, 9, 10]
print(list(zip(a, b, c))) # [(1, 5, 7), (2, 6, 8)]

# 이런것도 가능합니다. 레인지와 리스트를 잡아서 딕셔너리 형태로 제작
print(dict(zip(range(3), [0]*3))) # {0: 0, 1: 0, 2: 0}

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[(1, 5, 7), (2, 6, 8)]
{0: 0, 1: 0, 2: 0}