# List와 Array란 무엇인가?

## List

리스트는 파이썬에서 가장 자주 사용되는 데이터 구조 중 하나입니다. 이는 여러 가지 다른 유형의 항목을 저장할 수 있는 유연성 때문입니다. 리스트는 대괄호(`[]`)를 사용하여 생성하며, 각 요소는 쉼표로 구분됩니다.

In [ ]:
my_list = [1, "Hello", 3.4]
list = [0, 1, 2, 3, 4]

array = int[5]
print(my_list)

TypeError: ignored

## Array

반면에, 배열(array)은 동일한 유형의 값을 저장할 수 있는 구조입니다. 리스트와 달리, 배열의 모든 요소는 동일한 데이터 유형이어야 합니다. 배열은 `array` 모듈을 사용하여 생성할 수 있으며, 별도로 `import`해야 합니다.

In [ ]:
import array as arr

my_array = arr.array('i', [1, 2, 3])

print(my_array)

## **List와 Array의 차이점과 공통점**

### **공통점**

- 둘 다 순서가 지정된 콜렉션입니다. 즉, 요소는 특정 순서에 따라 저장됩니다.
- 둘 다 인덱싱과 슬라이싱을 사용하여 요소에 접근할 수 있습니다. (ex. **`my_list[0]`** 또는 **`my_array[1:3]`**)

### **차이점**

- 리스트는 **다양한 데이터 유형의 요소를 저장**할 수 있지만, 배열은 **동일한 데이터 유형의 요소만 저장**할 수 있습니다.
- 배열은 **메모리를 더 효율적으로 사용**합니다. 같은 요소를 저장하면, 배열은 리스트보다 적은 메모리를 사용합니다.
- 파이썬의 기본 라이브러리에는 **배열을 다루는 기능이 제한적**이기 때문에, 파이썬에서는 일반적으로 **`NumPy`**와 같은 외부 라이브러리를 사용하여 고급 배열 연산을 수행합니다.

# **List의 기본 동작**

## **리스트의 생성과 초기화 방법**

리스트를 생성하려면 대괄호 **`[]`**를 사용하고, 각 요소를 쉼표 **`,`**로 구분합니다. 이를 이용해 빈 리스트를 생성하거나 초기값을 가진 리스트를 생성할 수 있습니다.

In [ ]:
empty_list = []  # 빈 리스트 생성 []
initial_list = [1, 2, 3, 4, 5]  # 초기값을 가진 리스트 생성

print(empty_list)
print(initial_list)

## **리스트의 요소 접근 방법과 수정**

리스트의 요소에 접근하려면 인덱스를 사용하며, 이 인덱스는 0부터 시작합니다. 수정할 때도 인덱스를 사용하여 특정 위치의 요소를 변경할 수 있습니다.

In [ ]:
initial_list = [1, 2, 3, 4, 5]  # 초기값을 가진 리스트 생성

initial_list[1] = 20  # 인덱스 1의 요소를 20으로 수정
print(initial_list)  # 출력: [1, 20, 3, 4, 5]

## **리스트의 크기 조정 (추가, 삭제)**

리스트에 요소를 추가하려면 **`append()`** 메서드를 사용하고, 요소를 삭제하려면 **`remove()`** 메서드를 사용합니다.

In [ ]:
initial_list = [1, 2, 3, 4, 5, 6]  # 초기값을 가진 리스트 생성

initial_list.append(20)  # 리스트 끝에 6 추가
print(initial_list)  # 출력: [1, 2, 3, 4, 5, 6, 20]
initial_list.remove(20)  # 리스트에서 20 삭제
print(initial_list)  # 출력: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6, 20]
[1, 2, 3, 4, 5, 6]

리스트에서 특정 위치의 요소를 삭제하려면 **`del`** 키워드 또는 **`pop()`** 메서드를 사용할 수 있습니다. **`pop()`** 메서드는 삭제된 요소를 반환하므로 필요에 따라 사용할 수 있습니다.

In [ ]:
initial_list = [1, 3, 4, 5, 6]  # 초기값을 가진 리스트 생성

del initial_list[1]  # 인덱스 1의 요소 삭제
print(initial_list)  # 출력: [1, 4, 5, 6]
popped_element = initial_list.pop(2)  # 인덱스 2의 요소 삭제 및 반환
print(popped_element)  # 출력: 5

[1, 4, 5, 6]
5

# **List의 다양한 활용**

## **리스트를 활용한 반복문**

파이썬의 리스트는 반복문에서 자주 사용됩니다. **`for`** 문을 이용하여 리스트의 모든 요소에 접근할 수 있습니다.

In [ ]:
my_list = [1, 2, 3, 4, 5]

for element in my_list:
    print(element)

또한, 리스트 컴프리헨션(list comprehension)을 이용하여 리스트를 더욱 간결하게 생성하거나 변형할 수 있습니다.

In [ ]:
# 각 요소를 제곱한 새로운 리스트 생성
my_list = [1, 2, 3, 4, 5, 6]

squares = [x**2 for x in my_list]
print(squares)  # 출력: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25, 36]

## **리스트의 정렬 방법**

리스트를 정렬하기 위해 **`sort()`** 메서드나 **`sorted()`** 함수를 사용할 수 있습니다. **`sort()`** 메서드는 원본 리스트를 정렬하지만, **`sorted()`** 함수는 정렬된 새로운 리스트를 반환합니다.

In [ ]:
my_list = [2, 1, 5, 4, 3]

my_list.sort()
print(my_list)  # 출력: [1, 2, 3, 4, 5]

new_list = sorted([5, 3, 2, 4, 1])
print(new_list)  # 출력: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

## **리스트를 활용한 검색**

리스트에서 특정 값을 찾기 위해 **`index()`** 메서드나 **`in`** 키워드를 사용할 수 있습니다. **`index()`** 메서드는 찾고자 하는 값의 첫 번째 위치를 반환하며, **`in`** 키워드는 값이 리스트에 있는지 여부를 반환합니다.

In [ ]:
my_list = [1, 2, 3, 4, 5]

print(my_list.index(3))  # 출력: 2
print(3 in my_list)  # 출력: True

2
True

# **Dictionary (Map) 소개**

## **Dictionary(Map)의 개념과 특징**

파이썬의 Dictionary는 **key와 value의 쌍으로 이루어진 데이터 구조**입니다. 이러한 형식은 매핑(mapping) 형태로, 특정 key를 통해 대응되는 value에 접근할 수 있습니다.

In [ ]:
my_dict = {'apple': 1, 'banana': 2, 'cherry': 3}

print(my_dict['apple'])  # 출력: 1

Dictionary의 주요 특징 중 하나는 **key를 통해 데이터에 빠르게 접근할 수 있다는 점**입니다.

또한, key는 변경 불가능(immutable)한 데이터 타입만 사용할 수 있으며, 각 key는 고유해야 합니다. value는 어떠한 데이터 타입도 가능하며, 중복이 허용됩니다.

## **Dictionary(Map)과 List/Array의 비교**

List와 Array는 순서가 있는(ordered) 데이터 구조이며, 인덱스를 통해 각 요소에 접근합니다. 반면, Dictionary는 순서가 없는(unordered) 데이터 구조로, key를 통해 value에 접근합니다.

따라서, List와 Array는 **데이터의 순서가 중요하거나, 인덱스를 통한 접근이 필요한 경우 사용**됩니다. Dictionary는 **key-value 관계를 가진 데이터를 저장하고 처리하는데 적합**합니다.

# **Dictionary (Map) 기본 동작**

## **Dictionary의 생성과 초기화 방법**

Dictionary는 중괄호(`{}`) 안에 key-value 쌍을 콜론(`:`)으로 연결하여 초기화합니다.

In [ ]:
# 빈 dictionary 생성
my_dict = {}

# key-value 쌍을 가진 dictionary 생성
my_dict = {'apple': 1, 'banana': 2, 'cherry': 3}
print(my_dict)

{'apple': 1, 'banana': 2, 'cherry': 3}

또는 **`dict()`** 생성자를 사용하여 Dictionary를 생성할 수 있습니다.

In [ ]:
# dict() 생성자를 사용한 dictionary 생성
dixt = dict()
my_dict = dict(apple=1, banana=2, cherry=3)

print(my_dict)

{'apple': 1, 'banana': 2, 'cherry': 3}

## **Dictionary의 요소 접근 방법과 수정**

Dictionary의 요소는 key를 통해 접근합니다.

In [ ]:
my_dict = {'apple': 1, 'banana': 2, 'cherry': 3}
print(my_dict['apple'])  # 출력: 1

또한, 존재하는 key의 value를 변경하거나 새로운 key-value 쌍을 추가할 수 있습니다.

In [ ]:
my_dict = {'apple': 1, 'banana': 2, 'cherry': 3}

# value 변경
my_dict['apple'] = 4
print(my_dict)  # 출력: {'apple': 4, 'banana': 2, 'cherry': 3}

# 새로운 key-value 추가
my_dict['mango'] = 5
print(my_dict)  # 출력: {'apple': 4, 'banana': 2, 'cherry': 3, 'mango': 5}

## **Dictionary의 크기와 요소 삭제**

**`len()`** 함수를 사용하여 Dictionary의 크기(즉, key-value 쌍의 개수)를 알 수 있습니다.

In [ ]:
my_dict = {'apple': 1, 'banana': 2, 'cherry': 3}

print(len(my_dict))  # 출력: 3

**`del`** 키워드나 **`pop()`** 메서드를 사용하여 Dictionary의 요소를 삭제할 수 있습니다.

In [ ]:
my_dict = {'apple': 1, 'banana': 2, 'cherry': 3}

# del 키워드를 사용한 요소 삭제
del my_dict['apple']
print(my_dict)  # 출력: {'banana': 2, 'cherry': 3}

# pop() 메서드를 사용한 요소 삭제
my_dict.pop('banana')
print(my_dict)  # 출력: {'cherry': 3}

# **Dictionary (Map)의 활용**

## **Dictionary를 활용한 키-값 쌍 추가 및 조회**

Dictionary에 새로운 키-값 쌍을 추가하는 방법은 간단합니다. 새로운 키를 지정하고 해당 키에 값을 할당하면 됩니다.

In [ ]:
my_dict = {'apple': 1, 'banana': 2}

my_dict['cherry'] = 3
print(my_dict)  # 출력: {'apple': 1, 'banana': 2, 'cherry': 3}

Dictionary의 키를 이용하여 해당 키에 대응하는 값을 조회할 수 있습니다.

In [ ]:
my_dict = {'apple': 1, 'banana': 2}

print(my_dict['banana'])  # 출력: 2

## **Dictionary의 반복문 활용**

Dictionary는 키-값 쌍으로 이루어져 있어서, 이를 반복문에서 활용할 수 있습니다. 반복문을 통해 Dictionary의 모든 키-값 쌍에 접근하고 작업을 수행할 수 있습니다.

In [ ]:
# 키만 사용하는 경우
for key in my_dict:
    print(my_dict[key])
    print(key)

# 출력:
# apple
# banana
# cherry

# 키와 값을 함께 사용하는 경우
for key, value in my_dict.items():
    print(key, value)

# 출력:
# apple 1
# banana 2
# cherry 3

# **Set**

## **Set의 개념과 특징**

Set은 파이썬에서 제공하는 기본적인 자료형 중 하나입니다. 이름에서도 알 수 있듯이, Set은 수학에서의 집합과 유사한 개념을 가지고 있습니다.

Set은 다음과 같은 특징을 가지고 있습니다.

- 중복된 요소를 가질 수 없습니다. 각 요소는 유일(unique)해야 합니다.
- Set은 순서가 없습니다. 즉, 인덱스로 요소에 접근할 수 없습니다.
- Set은 변경 가능(mutable)합니다. 요소의 추가 또는 삭제가 가능합니다.

In [ ]:
# Set의 생성
list = [1, 2, 3, 4, 5, 5, 5, 5, 2, 2, 1, 1, 0]
set1 = set(list)
my_set_ = {1, 2, 3, 4, 5, 0}

my_set = {1, 2, 3, 3, 3}
print(my_set)  # 출력: {1, 2, 3}

## **Set과 List/Array의 차이점**

Set과 List/Array는 다음과 같은 주요 차이점을 가지고 있습니다:

- **중복 요소**: List/Array는 중복된 요소를 허용하지만, Set은 중복된 요소를 허용하지 않습니다.
- **순서**: List/Array는 요소의 순서를 유지하지만, Set은 순서가 없습니다.
- **접근 방식**: List/Array는 인덱스를 통해 요소에 접근할 수 있지만, Set은 인덱스로 접근할 수 없습니다.

이처럼 Set은 그 특성 상, 중복을 허용하지 않는 데이터의 모임을 다룰 때 효과적입니다. 다음 섹션에서는 Set의 기본적인 연산에 대해 알아보겠습니다.

# **Set 기본 동작**

## **Set의 생성과 초기화 방법**

Set은 중괄호 **`{}`** 또는 **`set()`** 함수를 사용해 생성할 수 있습니다. 빈 Set를 생성하려면 **`set()`**을 사용해야 합니다. **`{}`**만 사용하면, 이는 빈 Dictionary를 생성하게 됩니다.

In [ ]:
# Set 생성
my_set = {1, 2, 3}
print(my_set)  # 출력: {1, 2, 3}

# 빈 Set 생성
empty_set = set()
print(empty_set)  # 출력: set()

## **Set에 요소 추가, 삭제**

Set에 요소를 추가하려면 **`add()`** 메서드를, 여러 요소를 추가하려면 **`update()`** 메서드를 사용합니다. 요소를 삭제하려면 **`remove()`** 또는 **`discard()`** 메서드를 사용합니다.

In [ ]:
my_set = {1, 2, 3}

# 요소 추가
my_set.add(3)
print(my_set)  # 출력: {1, 2, 3, 4}

# 여러 요소 추가
my_set.update({5, 6})
print(my_set)  # 출력: {1, 2, 3, 4, 5, 6}

# 요소 삭제
my_set.remove(1)
print(my_set)  # 출력: {2, 3, 4, 5, 6}

## **Set의 크기와 중복 요소 제거**

Set의 크기는 **`len()`** 함수를 사용해 확인할 수 있습니다. 또한, Set은 자동으로 중복된 요소를 제거하기 때문에, 중복 요소를 제거하려면 List나 Array를 Set으로 변환하면 됩니다.

In [ ]:
my_set = {2, 3, 4, 5, 6}

# Set 크기 확인
print(len(my_set))  # 출력: 5

# 중복 요소 제거
my_list = [1, 2, 2, 3, 4, 4, 4, 5, 6, 6]
my_set = set(my_list)
print(my_set)  # 출력: {1, 2, 3, 4, 5, 6}

# **Set의 활용**

## **Set을 활용한 중복 요소 제거**

Set은 중복된 요소를 가질 수 없으므로, List나 Array에서 중복 요소를 제거하는데 아주 유용합니다. 아래 예제를 살펴봅시다.

In [ ]:
# List에 중복 요소가 있는 경우
my_list = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
# 이를 Set으로 변환하면 중복 요소가 제거됩니다.
my_set = set(my_list)
print(my_set)  # 출력: {1, 2, 3, 4}

## **Set을 활용한 교집합, 합집합, 차집합 연산**

Set은 교집합, 합집합, 차집합 등의 집합 연산을 지원합니다. 이는 각각 **`intersection()`**, **`union()`**, **`difference()`** 메서드를 통해 수행할 수 있습니다.

In [ ]:
# 두 Set의 선언
set_A = {1, 2, 3, 4}
set_B = {3, 4, 5, 6}

# 교집합
print(set_A.intersection(set_B))  # 출력: {3, 4}

# 합집합
print(set_A.union(set_B))  # 출력: {1, 2, 3, 4, 5, 6}

# 차집합
print(set_A.difference(set_B))  # 출력: {1, 2}

# **실전 응용 예시**

## **문자열 내의 중복 문자 찾기**

첫 번째로 살펴볼 실전 예제는 주어진 문자열에서 중복된 문자를 찾는 문제입니다. 이를 위해 우리는 Set과 Dictionary를 조합해 사용할 것입니다.

In [ ]:
def find_duplicates(s):
    duplicates = set()
    counts = {}
    for letter in s:
        if letter in counts and counts[letter] == 1:
            duplicates.add(letter)
        counts[letter] = counts.get(letter, 0) + 1
    return duplicates


    for letter in s:
        duplicates.add(letter)
    return duplicates

print(find_duplicates("hello world"))  # 출력: {'h', 'l', 'o'}

## **모든 학생의 성적 계산**

다음으로, Dictionary와 List를 이용해 학생들의 성적을 계산하는 문제를 살펴보겠습니다. 각 학생의 이름을 키로, 그들의 성적을 값으로 하는 Dictionary를 사용하면 편리합니다.

In [ ]:
def calculate_average_grades(grades):
    averages = {}
    for student, grades in grades.items():
        averages[student] = sum(grades) / len(grades)
    return averages

grades = {"John": [85, 90, 78], "Sarah": [92, 88, 90], "Mike": [70, 80, 75]}
print(calculate_average_grades(grades))  # 출력: {'John': 84.33333333333333, 'Sarah': 90.0, 'Mike': 75.0}

## **공통 요소 찾기**

마지막으로, 두 리스트에서 공통 요소를 찾는 문제를 살펴보겠습니다. 이를 위해 Set의 교집합 연산을 활용할 수 있습니다.

In [ ]:
def find_common_elements(list1, list2):
    return set(list1).intersection(list2)

print(find_common_elements([1, 2, 3, 4], [3, 4, 5, 6]))  # 출력: {3, 4}

## 순서가 있는 딕셔너리 비교

In [ ]:
from collections import OrderedDict

# 기본 딕셔너리
dict_a = {'a': 'apple', 'b': 'banana', 'p': 'pineapple'}
dict_b = {'b': 'banana', 'a': 'apple', 'p': 'pineapple'}
dict_a == dict_b
# True

OrderedDict
ordered_a = OrderedDict([('a', 'apple'), ('b', 'banana'), ('p', 'pineapple')])
ordered_b = OrderedDict([('b', 'banana'), ('a', 'apple'), ('p', 'pineapple')])

ordered_a == ordered_b
# False

True